* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  z-index: 1;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 100vh;
}

main {
  background: #fafafa;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 24px;
  letter-spacing: 00.1px;
}
.container {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

.header_container {
  max-width: 1332px;
  justify-content: center;
}

.wrapper {
  margin-left: 197px;
  width: 1332px;
  height: 104px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_logo a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #252b42;
}

.header_menu {
  width: 280px;
  margin-left: 117px;
  margin-right: 300px;
}

.header_menu ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.header_menu ul li a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.button_up {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.hero {
  height: 800px;
  padding-top: 184px;
  background-image: url(./img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_container {
  max-width: 1139px;
  margin-left: auto;
  margin-right: auto;
}

.hero_title {
  max-width: 509px;
}

.hero_title h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 35px;
}

.hero_title p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}

.hero_buttons {
  margin-top: 35px;
  margin-bottom: 80px;
}

.hero_buttons button {
  padding: 10px 36px;
  background: transparent;
  border: 1px solid #00a0c1;
  border-radius: 37px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #00a0c1;
  cursor: pointer;
}

.hero_buttons button:hover {
  background-color: #ffa62b;
  color: #ffffff;
  border-color: #ffa62b;
  transition: 0.4s;
}

.hero_cards {
  width: 1074px;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 328px;
  height: 210px;
  display: inline-block;
  padding: 35px 40px;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.card h3 {
  position: static;
  width: 222px;
  height: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.card p {
  position: static;
  width: 218px;
  height: 40px;
  left: 40px;
  top: 135px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 10px 0px;
}

.card:hover {
  background: #00a0c1;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  transition: 0.4s;
}

.card:hover h3 {
  color: #ffffff;
}

.card:hover p {
  color: #ffffff;
}

.stat_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-bottom: 50px;
  margin-top: 192px;
}

.stat_title h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.stat_title p {
  font-family: Montserrat;
  font-style: normal;
  width: 511px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.stat_cards {
  display: flex;
  justify-content: space-between;
}

.stat_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}

.stat_card h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.stat_card h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}

.stat_card img {
  width: 48px;
  height: 48px;
}

.advice_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px 0px;
  position: static;
  width: 470px;
  margin-top: 205px;
  margin-left: auto;
  margin-right: auto;
}

.advice_title h2 {
  position: static;
  width: 321px;
  height: 57px;
  left: 271.5px;
  top: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.advice_title p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  order: 1;
  flex-grow: 0;
  margin: 10px 0px;
}

.advice_cards {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.advice_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: static;
  width: 230px;
  background: #ffffff;
  margin-right: 40px;
}

.advice_card h5 {
  width: 160px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 15px;
}

.advice_card p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 30px;
}

.advice_card img {
  height: 138px;
  left: 0px;
  right: 0px;
}

.service_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 205px;
}

.service_title h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 15px;
}

.service_title p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.service_wrapper {
  display: flex;
  justify-content: space-between;
}

.service_video iframe {
  background: #ffffff;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 5px;
}

.service_about {
  max-width: 333px;
}

.service_about h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.service_about p {
  position: static;
  width: 330px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;

  margin-bottom: 35px;
}

.service_about h5 {
  position: static;
  width: 277px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.about {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 15px;
}

.about_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 277px;
  border-radius: 9px;
}

.about img {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

.brands {
  margin-top: 100px;
  position: relative;
}

.brands_logo {
  margin-left: auto;
  margin-right: auto;
  width: 1054px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.subscribe {
}

.subscribe_card {
  display: flex;
  background-color: #16697a;
  position: absolute;
  min-width: 986px;
  justify-content: space-between;
  align-items: center;
  bottom: 20px;
  height: 124px;
  margin-left: auto;
  margin-right: auto;
}

.subscribe_card h3 {
  max-width: 258px;
  margin-left: 50px;
  color: #ffffff;
}

.subscribe_card form {
  padding: 0 50px 0 0;
}

#POST-name {
  width: 333px;
}

[type='submit'] {
  width: 115px;
}

.stripe {
  height: 77px;
  background: #252b42;
  margin-top: 158px;
}

h2 {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.support {
  padding: 80px 0 148px;
  background: #f3f3f3;
}

.support__title {
  max-width: 865px;
  margin: 0 auto 80px;
  text-align: center;
}

.support__content {
  display: flex;
  padding: 30px;
}

.support__content > .item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 50px;
  text-align: center;
  background: #fff;
  transition: all 0.4s ease;
}

.support__content > .item:not(:last-child) {
  margin-right: 1rem;
}

.support__content > .item > div {
  margin-bottom: 15px;
}

.support__content > .item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #252b42;
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.4s ease;
}

.support__content > .item:hover {
  z-index: 1;
}

.support__content > .item:hover > div {
  z-index: 1;
}

.support__content > .item:hover > .item__image > svg {
  fill: #fff;
}

.support__content > .item:hover::before {
  opacity: 1;
}

.ad_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 142px;
}

.ad_title {
  display: flex;
  flex-direction: column;
}

.list {
  min-height: 272px;
  background-color: #16697a;
}

.list_menu {
  max-width: 1050px;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list_menu ul {
  list-style: none;
  margin-top: 50px;
}

.list_menu ul li:first-of-type {
  margin-top: 30px;
}

.list_menu ul li a {
  color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  /* font-weight: 600; */
  font-size: 14px;
}

.list h5 {
  color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.networks {
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
